# Logs

logs
_.log
npm-debug.log_
yarn-debug.log*
yarn-error.log*
lerna-debug.log\*

# Dependency directories

build/
dist/
node_modules/
jspm_packages/

# environment variables file

.env
.env.test
secrets.json

# OSX

.DS_Store
